table th, td{
    border: 1px solid;
    border-color: black;
}

.bus{
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
}

.seats{
    display: flex;
    justify-content: space-between;
}

table{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

tbody{
    width: 100%;
}

td{
    height: 80px;
    width: 80px;
    text-align: center;
}

.a